<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
    <body>
        <p th:text="${person.getName() + ', ' + person.getAge()}">VALUE</p>
        <p th:text="${'Email: ' + person.getEmail()}">VALUE</p>
        <p th:text="${person.getId()}">VALUE</p>
        <br>

        <a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>
        <br>

        <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
            <input type="submit" value="Delete"/>
        </form>
    </body>
</html>