<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Goodbye</title>
    </head>
    <body>
        <p>Bye!</p>
        <a href="/first/hello">Sey hello</a> or <a href="/exit">Exit</a>
        <a href="/first/goodbye?name=Anna&age=18">Request with parameters</a>

        <p th:text="${message}"/>
    </body>
</html>